---
import Playground from '../components/Playground.astro';
import File from '../components/File.astro';
import Directory from '../components/Directory.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>

		<style is:global>
			:root {
				font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
				color-scheme: light;
			}

			body {
				padding-bottom: 25vh;
			}

			article {
				max-width: 1280px;
				margin: 0 auto;
			}
		</style>
	</head>

	<body>
		<h1>Astro Playground</h1>

		<article>

		<h2>Simple</h2>
			<Playground>
				<File name="Index.astro" is:raw>
					---
					const name = "world"
					---
					
					<h1>
						Hello {name}!
					</h1>
				</File>
			</Playground>

			<h2>Multiple Files</h2>
			<Playground>
				<File name="Index.astro" is:raw>
					---
					import Component from './Component.astro'
					---
					
					<Component name="Astronaut" />
				</File>
				<File name="Component.astro" is:raw>
					---
					const { name = "world" } = Astro.props
					---

					<h1>
						Hello {name}!
					</h1>
				</File>
			</Playground>

			<h2>Directories</h2>
			<Playground>
				<Directory name="src/pages">
					<File name="Index.astro" is:raw>
						---
						import Component from '../components/Component.astro'
						---
						
						<Component value="Amazing!" />
					</File>
				</Directory>
				<Directory name="src/components">
					<File name="Component.astro" is:raw>
						---
						const { value } = Astro.props;
						---
						
						<h1>
							{value}
						</h1>
					</File>
				</Directory>
			</Playground>
		</article>
	</body>
</html>
